<app-header></app-header>

<br>
<br>
<br>
<br>

<div class="row py-5">
    <mat-card class="card">
        <mat-card-title class="card_title">Panel de búsqueda</mat-card-title>
    </mat-card>
    <mat-card class="card">
        <div class="row">
            <div class="col-sm-8">
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label class="text-buscar">Ingresa el Apellido o la cédula del profesional</mat-label>
                        <input type="text" placeholder="Seleccioné un elemento" aria-label="Profesional" matInput [formControl]="autocompleteControlApellidoCedula" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="mostrarApellidoCedula" (optionSelected)="seleccionarApellidoCedula($event)">
                            <mat-option *ngFor="let profesional of profesionalesFiltrados | async" [value]="profesional">
                                {{ mostrarApellidoCedula(profesional)}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-sm-4">
                <button class="mat-stroked-button" (click)="crearProfesional()">Crear Profesional</button>
            </div>
        </div>
    </mat-card>
</div>
<div class="row">
    <mat-card class="card">
        <table mat-table [dataSource]="profesionalesFiltrados" class="mat-elevation-z8">

            <ng-container matColumnDef="identificacionProfesional">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef> Identificación </th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional"> {{profesional.identificacionProfesional}} </td>
            </ng-container>
            <ng-container matColumnDef="nombresProfesional">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef> Nombres </th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional"> {{profesional.nombresProfesional}}</td>
            </ng-container>
            <ng-container matColumnDef="apellidoPaternoProfesional">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef> Apellidos </th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional">{{profesional.apellidoPaternoProfesional}} </td>
            </ng-container>

            <ng-container matColumnDef="celularProfesional">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef> Celular </th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional"> {{profesional.celularProfesional}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef>Estado </th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional"> {{profesional.estadoProfesional}} </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef>Editar</th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional">
                    <button mat-icon-button class="button-edict" (click)="editarProfesional(profesional)">
                        <mat-icon class="button-icon-edict" matTooltip="editar">editar</mat-icon>
                    </button>

                </td>
            </ng-container>

            <ng-container matColumnDef="ver">
                <th class="mat-header-row" mat-header-cell *matHeaderCellDef>Ver detalle</th>
                <td class="mat-header-row" mat-cell *matCellDef="let profesional">
                    <button mat-icon-button color="warn" class="button-info" (click)="verInformacionProfesional(profesional)"><mat-icon class="button-icon-info" matTooltip="ver">info</mat-icon></button>

                </td>
            </ng-container>

            <tr class="mat-header-row" mat-header-row *matHeaderRowDef="mostrarColumnas"></tr>
            <tr class="mat-header-row" mat-row *matRowDef="let row; columns: mostrarColumnas"></tr>
        </table>
    </mat-card>
</div>
<br>
<br>
<br>
<br>


<app-footer></app-footer>