<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="footer-info">
                        <h3>NUESTRA MISIÓN</h3>
                        <p class="text-justify">
                            Emprender procesos honestos, profesionales e innovadores basados en evidencias científica en ambientes de trabajo idóneos que den respuesta a las necesidades de las personas. Generando conocimientos y estrategias que ayuden a alcanzar el bienestar familiar
                            que merecen.
                        </p>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6 social-links">
                    <br><br>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/PsicoDidact" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/PsicoDidact" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/psicodidact/" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/psicodidact/" class="linkedin"><i class="bi bi-youtube"></i></a>
                    <br>
                    <h2 id="h2">PSICODIDACT </h2>
                </div>

                <div class=" col-lg-4 col-md-6 social-links">
                    <strong id="padding"> QUITO</strong><strong id="padding">VALLE</strong><br>
                    <a class="whatsapp"><i class="bi bi-whatsapp"></i></a><strong id="colorh2"> &nbsp;099 0554 8865</strong><strong id="padding-v"> 098 0554 8854</strong><br>
                    <a class="telephone-fill"><i class="bi bi-telephone-fill"></i></a><strong id="colorh2"> &nbsp;099 0554 8865</strong><br>
                    <a class="envelope"><i class="bi bi-envelope"></i></a><strong id="colorh2"> &nbsp;psicodidact@hotmail.com</strong><br>

                </div>
            </div>
        </div>
    </div>
</footer>