<h2 mat-dialog-title class="card_title">{{titulo}}}</h2>
<mat-dialog-content>

    <form [formGroup]="dialogForm">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Código de la Institución</mat-label>
                            <input [(ngModel)]="unidadEducativa.codigoInstitucion" matInput placeholder="Código de la Institución" formControlName="codigo" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de la Institución</mat-label>
                            <input [(ngModel)]="unidadEducativa.nombreUnidadEducativa" matInput placeholder="Nombre de la Institución" formControlName="nombre" />
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Dirección de la Institución</mat-label>
                            <input [(ngModel)]="unidadEducativa.direccionUnidadEducativa" matInput placeholder="Dirección de la Institución" formControlName="direccion" />
                        </mat-form-field>
                    </div>





                </div>

            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <div class="col-sm-6">
        <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>

    </div>
</mat-dialog-actions>