img {
    width: 100%;
    height: 100px;
    display: block;
}

.header_login {
    background-color: #FFFFFF;
}

.espacio {
    width: 2%;
}

.nuevo {
    height: 100px;
    width: 450px
}

hr {
    height: 10px;
    color: #00A7E3;
    background-color: #00A7E3;
    width: 100%;
}