
<div class="header">
    <div class="container">
      <div class="navbar">
        <ul>
            <header>
                <img src="/assets/imagenes/logo.png" alt="imagen" style="width: 100%; height: auto;">
                <div class="menu">
                  <button class="menu_item">Inicio</button>
                  <button class="menu_item">Administrar</button>
                  <button class="menu_item">Agendamiento</button>
                  <button class="menu_item">Subir informacion</button>
                  <button class="menu_item">Pagos</button>
                  <button class="menu_item">Reportes</button>
                  <button class="menu_item">Salir</button>
                </div>
              </header>
              
        </ul>
      </div>
    </div>
  </div>