<app-header-login> </app-header-login>
<div class="container col-lg-3 col-md-5">
    <div class="row">
        <div class="login">
            <form class="custom-form" method="post">
                <div class=" wrap ">
                    <h3 class="mb-4 text-center "><strong> Iniciar sesión </strong></h3>
                </div>

                <div class="input-group ">
                    <span class="input-group-addon "><i class="bi bi-person "></i></span>
                    <input [(ngModel)]="usuario.username " type="text " placeholder="Usuario" name="username" id="username" />
                </div>
                <div class="input-group ">
                    <span class="input-group-addon "><i class="bi bi-key"></i></span>
                    <input [(ngModel)]="usuario.password" type="password" placeholder="Contraseña" name="password" id="password" />
                </div>
                <button (click)="login() " type="submit ">Ingresar</button>


            </form>
        </div>
    </div>
</div>


<app-footer></app-footer>