.div_panel {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
    padding: 160px 90px 20px 90px;
}

.div_table {
    position: relative;
    height: 100%;
    display: block;
    width: 100%;
    padding: 0px 12px 20px 12px;
}

.card_title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.card {
    height: 10%;
    text-align: inherit;
    border-width: 1px;
    border-style: groove;
}


.card_busqueda {
    max-width: 100%;
    min-width: 10%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 83%;
}

.card2 {
    font-size: 12px;
    width: 100%;
    max-height: 50%;
    margin-top: 1px;
}

.example-header-image {
    background-size: cover;
}

table {
    width: 100%;
    margin-top: 1px;
}

.etiqueta {
    text-align: center;
}

.mat-stroked-button {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    font-size: 0.675rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #00A7E3;
    width: 6%;
    display: block;
    margin-top: 0px;
    padding: 0.275rem 0.2rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.button_Buscar {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    font-size: 0.675rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #00A7E3;
    width: 6%;
    display: block;
    margin-top: 0px;
    margin-right: 10px;
    padding: 0.275rem 0.2rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.div_booton {
    display: flex;
    padding-right: 10px;
}

.centrar_column {
    text-align: center;
}

.icon_Edit {
    cursor: pointer;
}

.btn_Edit {
    background-color: transparent;
    border: none;
    padding-right: 10px;
    color: #00A7E3;
}

.icon_Delete {
    cursor: pointer;
    color: #E10C0C;
}

.btn_Delete {
    background-color: transparent;
    border: none;
}

.icon_Info {
    cursor: pointer;
    color: #036A1C;
}

.btn_Info {
    background-color: transparent;
    border: none;
}


.mat-header-row {
    font-size: 14px;
    color: #0e0101;
}


.button {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;
    font-size: 0.85rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #00A7E3;
    width: 20%;
    display: block;
    margin-top: 0px;
    padding: 0.475rem 0.4rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    margin-right: 10px;
}


.text-buscar {
    font-size: 14px;
    color: #00A7E3;
}
.example-form {
    min-width: 20%;
    max-width: 60%;
    width: 100%;
}

.example-full-width {
    width: 50%;
}
