<app-header></app-header>

<!-- ======= Doctors Section ======= -->

<div class="header">
    <div class="container" data-aos="fade-up">

        <div class="div-title">

            <h1> POTENCIAMOS TUS CAPACIDADES</h1>

        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">

                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicopedagogia.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Terpia del Lenguaje</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/terapiaLenguaje.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Psicología Clnica</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicologia_clinica.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Psicología Infantil</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicologiaInfantil.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Nivelación Academica</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/nivelacionAcademica.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>NeuroPsicologpia</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/neuroPsicologia.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Psicorreabilitación</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicorreabilitacion.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Capcitación Profesional</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/capacitacionProfesional.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span>Misión</span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/mision.png" class="img-fluid" alt="">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
<app-footer></app-footer>