<header>
    <app-header></app-header>
</header>

<!-- ======= Doctors Section ======= -->
<section class="home">
    <div class="container" data-aos="fade-up">
        <div class="div-title">
            <h1> POTENCIAMOS TUS CAPACIDADES</h1>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicopedagogia.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/terapiaLenguaje.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicologia_clinica.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicologiaInfantil.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/nivelacionAcademica.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/neuroPsicologia.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicorreabilitacion.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/capacitacionProfesional.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-info">
                        <span></span>
                    </div>
                    <div class="member-img">
                        <img src="assets/imagenes/servicios/psicologiaDeporte.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<footer>
    <app-footer></app-footer>
</footer>