<div class="container">
    <h2 mat-dialog-title class="card_title">
        {{titulo}}</h2>
    <mat-dialog-content>
        <form [formGroup]="dialogForm ">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Identificación</mat-label>
                                <input [(ngModel)]="profesional.identificacionProfesional" matInput placeholder="Identificación" formControlName="identificacionProfesional" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombres</mat-label>
                                <input [(ngModel)]="profesional.nombresProfesional" matInput placeholder="Nombres" formControlName="nombresProfesional" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido Paterno</mat-label>
                                <input [(ngModel)]="profesional.apellidoPaternoProfesional" matInput placeholder="Apellido Paterno" formControlName="apellidoPaternoProfesional" />
                            </mat-form-field>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Apellido Materno</mat-label>
                                <input [(ngModel)]="profesional.apellidoMaternoProfesional" matInput placeholder="Apellido Materno" formControlName="apellidoMaternoProfesional" />
                            </mat-form-field>
                        </div>


                        <div class="col-md-4">
                            <input class="my-select" [matDatepicker]="miDatepicker" [(ngModel)]="profesional.fechaNacimientoProfesional" formControlName="fechaNacimientoProfesional">
                            <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #miDatepicker></mat-datepicker>

                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input [(ngModel)]="profesional.correoElectronicoProfesional" matInput placeholder="Correo Eléctronica" formControlName="correoElectronicoProfesional" />
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Celular</mat-label>
                                <input [(ngModel)]="profesional.celularProfesional" matInput placeholder="Celular" formControlName="celularProfesional" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Telefóno</mat-label>
                                <input [(ngModel)]="profesional.telefonoEmergenciaProfesional" matInput placeholder="Teléfono" formControlName="telefonoEmergenciaProfesional" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Dirección</mat-label>
                                <input [(ngModel)]="profesional.direccionDomicilioProfesional" matInput placeholder="Direccion" formControlName="direccionDomicilioProfesional" />
                            </mat-form-field>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <select class="my-select" [compareWith]="compararTipoDiscapacidad" [(ngModel)]="discapacidad.tipoDiscapacidad" name="tipoDiscapacidad">
                                    <option [ngValue]="undefined">--- selecionar un tipo de discapacidad ---</option>
                                    <option *ngFor="let tipoDiscapacidad of tiposDiscapacidades" [ngValue]="tipoDiscapacidad">{{tipoDiscapacidad.descripcionTipoDiscapacidad}}</option>
                                </select>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Porcentaje Discapacidad</mat-label>
                                <input [(ngModel)]="discapacidad.porcetajeDiscapacidad" matInput placeholder="Porcentaje Discapacidad" formControlName="porcentajeDiscapacidad" />
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Descripcion Discapacidad</mat-label>
                                <input [(ngModel)]="discapacidad.descripcionDiscapacidad" matInput placeholder="Descripcion Discapacidad" formControlName="descripcionDiscpacidad" />
                            </mat-form-field>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <select class="my-select" [compareWith]="compararTipoSangre" [(ngModel)]="profesional.tipoSangre" name="tipoSangre">
                                <option [ngValue]="undefined">--- selecionar un tipo de sangre ---</option>
                                <option *ngFor="let tipoSangre of tiposSangre" [ngValue]="tipoSangre"  >{{tipoSangre.descripcionTipoSangre}}</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <select class="my-select" [compareWith]="compararEstadoCivil" [(ngModel)]="profesional.estadoCivil" name="estadoCivil">
                                <option [ngValue]="undefined">--- selecionar un estado civil ---</option>
                                <option *ngFor="let estadoCivil of estadosCivil" [ngValue]="estadoCivil"  >{{estadoCivil.descripcionEstadoCivil}}</option>
                            </select>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="col-md-4">
                            <select class="my-select" class="my-select" [compareWith]="compararGenero" [(ngModel)]="profesional.genero" name="genero">
                                <option [ngValue]="undefined">--- selecionar un genero ---</option>
                                <option *ngFor="let genero of generos" [ngValue]="genero">{{genero.descripcionGenero}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">

                                    <input class="my-select" type="text" placeholder="Añadir Banco" aria-label="bancosFiltrados" matInput [formControl]="autocompleteControlBanco" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarBanco" (optionSelected)="seleccionarBanco($event)">
                                        <mat-option *ngFor="let producto of bancosFiltrados | async" [value]="producto">
                                            {{producto.descripcionBanco}}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <select class="my-select" [compareWith]="compararTipoCuenta" [(ngModel)]="tipoCuenta.descripcionTipoCuenta" formControlName="tipo">
                                <option [ngValue]="undefined">--- selecionar un tipo de cuenta---</option>
                                <option *ngFor="let tipoCuenta of tiposCuentas" [ngValue]="tipoCuenta">{{tipoCuenta.descripcionTipoCuenta}}</option>
                            </select>

                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline">
                                <mat-label>Cuenta Bancaria</mat-label>
                                <input [(ngModel)]="cuenta.numeroCuenta" matInput placeholder="Cuenta Bancaria" formControlName="cuenta" /> </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <select class="my-select" [compareWith]="compararProfesionProfesional" [(ngModel)]="profesionProfesional.tercerNivelProfesionProfesional" name="profesion">
                                <option [ngValue]="undefined ">--- selecionar una profesión ---</option>
                                <option *ngFor="let profesion of profesionProfesionales " [ngValue]="profesion">{{profesion.tercerNivelProfesionProfesional}}</option>
                            </select>

                        </div>

                        <div class="col-md-4 ">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input [(ngModel)]="usuario.password" matInput placeholder="Nombre Usuario " formControlName="password" />

                            </mat-form-field>
                        </div>
                        <div class="col-md-4 ">
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña 2</mat-label>
                                <input [(ngModel)]="usuario.password" matInput placeholder="Nombre Usuario " formControlName="password" />
                            </mat-form-field>
                        </div>

                    </div>





                </div>

            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="cancelar() ">Cancelar</button>
        <button mat-button mat-raised-button class="button " (click)="create() ">Guardar</button>
    </mat-dialog-actions>
</div>