<h2 mat-dialog-title class="card_title">Detalle Paciente</h2>
<mat-dialog-content class="mat-dialog">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-2 color_colum">Nombres</div>
        <div class="col-md-4 color_info">
      {{pacienteSelect?.nombresPaciente}}
        </div>
        <div class="col-md-2 color_colum">Apellidos</div>
        <div class="col-md-4 color_info">
      
         {{pacienteSelect?.apellidoPaternoPaciente}}   {{pacienteSelect?.apellidoMaternoPaciente}}
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2 color_colum">Identificación</div>
        <div class="col-md-4 color_info">
  
        {{pacienteSelect?.identificacionPaciente}}
        </div>
        <div class="col-md-2 color_colum">Síntoma Antecedentes</div>
        <div class="col-md-4 color_info">
          
         {{pacienteSelect?.antecedente?.sintomaAntecedente}}
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-2 color_colum">Enfermedad Antecedentes</div>
        <div class="col-md-4 color_info">
        
         {{pacienteSelect?.antecedente?.enfermedadAntecedente}}
        </div>
        <div class="col-md-2 color_colum">Enfermedad Paterna</div>
        <div class="col-md-4 color_info">
         {{pacienteSelect?.antecedente?.enfermedadPaterna}}

        </div>
      </div>
      <br />

      <div class="row">
         <div class="col-md-2 color_colum">Enfermedad Materna</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.antecedente?.enfermedadMaterna}}
            
         </div>
         <div class="col-md-2 color_colum">Enfermedad Representante</div>
         <div class="col-md-4 color_info">
           
            {{pacienteSelect?.antecedente?.enfermedadRepresentante}}
         </div>
       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum">Tratamiento Antecedentes</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.antecedente?.tratamientoAntecedente}}
            
         </div>
         <div class="col-md-2 color_colum">Alergia Antecedentes</div>
         <div class="col-md-4 color_info">
      
            {{pacienteSelect?.antecedente?.alergiaAntecedente}}
         </div>
       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum">Medicamento Antecedentes</div>
         <div class="col-md-4 color_info">
          
            {{pacienteSelect?.antecedente?.medicamentoAntecedente}}
         </div>
         <div class="col-md-2 color_colum">Tipo Sangre</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.tipoSangre?.descripcionTipoSangre}}

         </div>
       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum">Género</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.genero?.descripcionGenero}}
            
         </div>
         <div class="col-md-2 color_colum">Fecha Nacimiento</div>
         <div class="col-md-4 color_info">
           
            {{pacienteSelect?.fechaNacimientoPaciente}}
         </div>
       </div>
       <br />

    

       <div class="row">
         <div class="col-md-2 color_colum">Unidad Educativa</div>
         <div class="col-md-4 color_info">
           
            {{pacienteSelect?.unidadEducativa?.nombreUnidadEducativa}}
         </div>
         <div class="col-md-2 color_colum">Nivel Educación</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.nivelEducacionParalelo?.descripcionNivelParalelo}}

         </div>
       </div>
       <br />


       <div >
    
        </div>

        <div class="row">
         <div class="col-md-2 color_colum">Tipo Discapacidad </div>
         <div class="col-md-4 color_info">
          
            {{pacienteSelect?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad}}
         </div>
         <div class="col-md-2 color_colum">Porcentaje Discapacidad</div>
         <div class="col-md-4 color_info">
           
            {{pacienteSelect?.discapacidad?.porcetajeDiscapacidad}} %
         </div>
       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum">Descripcion Discapacidad</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.discapacidad?.descripcionDiscapacidad}}
            
         </div>
         <div class="col-md-2 color_colum">Profesion </div>
         <div class="col-md-4 color_info">
         
            {{pacienteSelect?.profesion?.descripcionProfesion}}

         </div>
       </div>
       <br />



        <div class="row">
         
         <div class="col-md-2 color_colum">Tipo Trabajo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.trabajo?.tipoTrabajo?.descripcionTipoTrabajo}}

         </div>
         <div class="col-md-2 color_colum">Descripción Empleo </div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.trabajo?.descripcionTrabajo}}
            
         </div>
       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum">Dirección Empleo </div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.trabajo?.direccionTrabajo}}

         </div>
         <div class="col-md-2 color_colum">Celular </div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.celularPaciente}}
            
         </div>
       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum">Teléfono emergencia</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.telefonoPaciente}}
         </div>
         <div class="col-md-2 color_colum">Correo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.correoElectronicoPaciente}}
         </div>
       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum">Dirección Domicilio</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.direccionDomicilio}}
         </div>

       </div>
       <br />

       <ng-template [ngIf]="pacienteSelect?.representante?.identificacionRepresentante">

       <div class="card_title texto_negrita">
         Información  Representante Paciente
      </div>
  

       <div class="row">
         <div class="col-md-2 color_colum">Nombres</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.nombresRepresentante}}
         </div>
         <div class="col-md-2 color_colum">Apellidos</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.apellidoPaternoRepresentante}} {{pacienteSelect?.representante?.apellidoMaternoRepresentante}}
         </div>
       </div>
       <br />


       <div class="row">
         
         <div class="col-md-2 color_colum">Identificación</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.identificacionRepresentante}}
         </div>
         <div class="col-md-2 color_colum">Fecha Nacimiento</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.identificacionRepresentante}}
         </div>
       </div>
       <br />


       <div class="row">
         <div class="col-md-2 color_colum">Género</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.genero?.descripcionGenero}}
         </div>
         <div class="col-md-2 color_colum">Dirección Trabajo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.trabajo?.direccionTrabajo}}
         </div>
       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum">Correo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.correoElectronicoRepresentante}}
         </div>
         <div class="col-md-2 color_colum">Celular</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.celularRepresentante}}
         </div>
       </div>
       <br />


       <div class="row">        
         <div class="col-md-2 color_colum">Teléfono Emergencia</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.telefonoEmergenciaRepresentante}}
         </div>
         <div class="col-md-2 color_colum">Profesión</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.profesion?.descripcionProfesion}}
         </div>
       </div>
       <br />


       <div class="row">
         
         <div class="col-md-2 color_colum">Tipo Trabajo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.trabajo?.tipoTrabajo?.descripcionTipoTrabajo}}
         </div>
         <div class="col-md-2 color_colum">Parentesco</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.parentescoRepresentante}}
         </div>
       </div>
       <br />



       <div class="row">
         
         <div class="col-md-2 color_colum">Dirección Domicilio</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.direccionDomicilioRepresentan}}
         </div>
         <div class="col-md-2 color_colum">Estado Civil</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.estadoCivil?.descripcionEstadoCivil}}
         </div>
       </div>
       <br />


       <div class="row">
         <div class="col-md-2 color_colum">Tipo Discapacidad</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad}}
         </div>
         <div class="col-md-2 color_colum">Porcentaje Discapacidad</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.discapacidad?.porcetajeDiscapacidad}} %
         </div>
       </div>
       <br />


       <div class="row">
         <div class="col-md-2 color_colum">Descripcion Discapacidad</div>
         <div class="col-md-4 color_info">
         
            {{pacienteSelect?.representante?.discapacidad?.descripcionDiscapacidad}}
         </div>
        
       </div>
      </ng-template>


    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="button">
    Salir
  </button>
</mat-dialog-actions>
