<h2 mat-dialog-title class="card_title text_detalle">Detalle Paciente</h2>
<mat-dialog-content class="mat-dialog">
  <form>
    <div class="container">
      <div class="row">
        <div class="col-md-2 color_colum text">Nombres</div>
        <div class="col-md-4 color_info">
      {{pacienteSelect?.nombresPaciente}}
        </div>
        <div class="col-md-2 color_colum text">Apellidos</div>
        <div class="col-md-4 color_info">
      
         {{pacienteSelect?.apellidoPaternoPaciente}}   {{pacienteSelect?.apellidoMaternoPaciente}}
        </div>
      </div>
      
      <br />
      <div class="row">
        <div class="col-md-2 color_colum text">Identificación</div>
        <div class="col-md-4 color_info">
  
        {{pacienteSelect?.identificacionPaciente}}
        </div>

        <div class="col-md-2 color_colum text">Tipo Sangre</div>
        <div class="col-md-4 color_info">
           {{pacienteSelect?.tipoSangre?.descripcionTipoSangre}}

        </div>

      </div>
      <br />

     
       <div class="row">
         <div class="col-md-2 color_colum text">Género</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.genero?.descripcionGenero}}
            
         </div>
         <div class="col-md-2 color_colum text">Fecha Nacimiento</div>
         <div class="col-md-4 color_info">
           
            {{pacienteSelect?.fechaNacimientoPaciente}}
         </div>
       </div>
       <br />

        <div class="row">
         
         <div class="col-md-2 color_colum text">Tipo Trabajo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.trabajo?.tipoTrabajo?.descripcionTipoTrabajo}}

         </div>
 
         <div class="col-md-2 color_colum text">Edad</div>
         <div class="col-md-4 color_info">
           
            {{pacienteSelect?.edadPaciente}}
         </div>
       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum text">Dirección Empleo </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.trabajo?.direccionTrabajo!=''">
            {{pacienteSelect?.trabajo?.direccionTrabajo}}

         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.trabajo?.direccionTrabajo==''">
            NINGUNO
           </div>

          <div class="col-md-2 color_colum text ">Descripción Empleo </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.trabajo?.descripcionTrabajo!=''">
            {{pacienteSelect?.trabajo?.descripcionTrabajo}}
            
         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.trabajo?.descripcionTrabajo==''">
            NINGUNO
           </div>

       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum text">Teléfono Emergencia</div>
         <div class="col-md-4 color_info"  *ngIf="pacienteSelect?.telefonoPaciente!=''">
            {{pacienteSelect?.telefonoPaciente}}
         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.telefonoPaciente==''">
            NINGUNO
           </div>
               <div class="col-md-2 color_colum text">Celular </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.trabajo?.descripcionTrabajo!=''">
            {{pacienteSelect?.celularPaciente}}
            
         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.trabajo?.descripcionTrabajo==''">
            NINGUNO
           </div>

       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum text">Dirección Domicilio</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.direccionDomicilio!=''">
            {{pacienteSelect?.direccionDomicilio}}
         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.direccionDomicilio==''">
            NINGUNO
           </div>

          <div class="col-md-2 color_colum text">Correo</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.correoElectronicoPaciente!=''">
            {{pacienteSelect?.correoElectronicoPaciente}}
         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.correoElectronicoPaciente==''">
            NINGUNO
           </div>


       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum text">Unidad Educativa</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.unidadEducativa?.nombreUnidadEducativa!='NINGUNO'">
           
            {{pacienteSelect?.unidadEducativa?.nombreUnidadEducativa}}
         </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.unidadEducativa?.nombreUnidadEducativa=='NINGUNO'">
          NINGUNO 
            
         </div>
        

         <div class="col-md-2 color_colum text">Profesión </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.profesion?.descripcionProfesion!='NINGUNO'">
         
            {{pacienteSelect?.profesion?.descripcionProfesion}}

         </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.profesion?.descripcionProfesion=='NINGUNO'">

       NINGUNO
         </div>

       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum text">Enfermedad Antecedentes</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.enfermedadAntecedente!=''">
         
          {{pacienteSelect?.antecedente?.enfermedadAntecedente}}
         </div>
         <div class="col-md-4 color_info "  *ngIf="pacienteSelect?.antecedente?.enfermedadAntecedente==''">
            NINGUNO
          </div>

          <div class="col-md-2 color_colum text">Nivel Educación</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.nivelEducacionParalelo?.descripcionNivelParalelo!='NINGUNO'">
            {{pacienteSelect?.nivelEducacionParalelo?.descripcionNivelParalelo}}

         </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.nivelEducacionParalelo?.descripcionNivelParalelo=='NINGUNO'">
           NINGUNO

         </div>

      </div>
       <br />
 
       <div class="row">
          <div class="col-md-2 color_colum text">Enfermedad Materna</div>
          <div class="col-md-4 color_info"  *ngIf="pacienteSelect?.antecedente?.enfermedadMaterna!=''">
             {{pacienteSelect?.antecedente?.enfermedadMaterna}}
             
          </div>
          <div class="col-md-4 color_info "  *ngIf="pacienteSelect?.antecedente?.enfermedadMaterna==''">
            NINGUNO
          </div>
         
<div class="col-md-2 color_colum text">Enfermedad Paterna</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.enfermedadPaterna!=''">
          {{pacienteSelect?.antecedente?.enfermedadPaterna}}
 
         </div>
         <div class="col-md-4 color_info "  *ngIf="pacienteSelect?.antecedente?.enfermedadPaterna==''">
            NINGUNO
          </div>
       </div>
        <br />
 
        <div class="row">
          <div class="col-md-2 color_colum text">Tratamiento Antecedentes</div>
          <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.tratamientoAntecedente!=''">
             {{pacienteSelect?.antecedente?.tratamientoAntecedente}}
             
          </div>
          <div class="col-md-4 color_info " *ngIf="pacienteSelect?.antecedente?.tratamientoAntecedente==''">
            NINGUNO
          </div>
         
    <div class="col-md-2 color_colum text">Enfermedad Paciente</div>
          <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.enfermedadRepresentante!=''">
            
             {{pacienteSelect?.antecedente?.enfermedadRepresentante}}
          </div>
          <div class="col-md-4 color_info " *ngIf="pacienteSelect?.antecedente?.enfermedadRepresentante==''">
            NINGUNO
          </div>

        </div>
        <br />
 
        <div class="row">
          <div class="col-md-2 color_colum text">Medicamento Antecedentes</div>
          <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.medicamentoAntecedente!=''">
           
             {{pacienteSelect?.antecedente?.medicamentoAntecedente}}
          </div>
          <div class="col-md-4 color_info " *ngIf="pacienteSelect?.antecedente?.medicamentoAntecedente==''">
            NINGUNO
          </div>
          
       <div class="col-md-2 color_colum text">Alergia Antecedentes</div>
          <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.alergiaAntecedente!=''">
       
             {{pacienteSelect?.antecedente?.alergiaAntecedente}}
          </div>
          <div class="col-md-4 color_info " *ngIf="pacienteSelect?.antecedente?.alergiaAntecedente==''">
            NINGUNO
          </div>

        </div>
        <br />
 




       <div class="row">
         <div class="col-md-2 color_colum text">Tipo Discapacidad </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad!='NINGUNO'">
          
            {{pacienteSelect?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad}}
         </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad=='NINGUNO'">
          
          NINGUNO
         </div>
         
         <div class="col-md-2 color_colum text">Síntoma Antecedentes</div>
          <div class="col-md-4 color_info" *ngIf="pacienteSelect?.antecedente?.sintomaAntecedente!=''">
            
           {{pacienteSelect?.antecedente?.sintomaAntecedente}}
          </div>
          <div class="col-md-4 color_info " *ngIf="pacienteSelect?.antecedente?.sintomaAntecedente==''">
            NINGUNO
          </div>
     


       </div>
       <br />

       <div class="row">
         <div class="col-md-2 color_colum text">Descripción Discapacidad</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.discapacidad?.descripcionDiscapacidad!=''">
            {{pacienteSelect?.discapacidad?.descripcionDiscapacidad}}
            
         </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.discapacidad?.descripcionDiscapacidad==''">
           
            NINGUNO
          </div>
        
    

       <div class="col-md-2 color_colum text">Porcentaje Discapacidad</div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.discapacidad?.porcetajeDiscapacidad!=0">
           
            {{pacienteSelect?.discapacidad?.porcetajeDiscapacidad}} %
         </div>
         <div class="col-md-4 color_info" *ngIf="pacienteSelect?.discapacidad?.porcetajeDiscapacidad==0">
           
           NINGUNO
         </div>

      </div>
       <br />


       <ng-template [ngIf]="pacienteSelect?.representante?.identificacionRepresentante">

       <div class="card_title text_detalle cardRepresentante">
         Información  Representante Paciente
      </div>
  
      <br />
       <div class="row">
         <div class="col-md-2 color_colum text">Nombres</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.nombresRepresentante}}
         </div>
         <div class="col-md-2 color_colum text">Apellidos</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.apellidoPaternoRepresentante}} {{pacienteSelect?.representante?.apellidoMaternoRepresentante}}
         </div>
       </div>
       <br />


       <div class="row">
         
         <div class="col-md-2 color_colum text">Identificación</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.identificacionRepresentante}}
         </div>
         <div class="col-md-2 color_colum text">Fecha Nacimiento</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.identificacionRepresentante}}
         </div>
       </div>
       <br />


       <div class="row">
         <div class="col-md-2 color_colum text">Género</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.genero?.descripcionGenero}}
         </div>
         <div class="col-md-2 color_colum text">Dirección Trabajo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.trabajo?.direccionTrabajo}}
         </div>
       </div>
       <br />

       <div class="row">
         
         <div class="col-md-2 color_colum text">Correo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.correoElectronicoRepresentante}}
         </div>
         <div class="col-md-2 color_colum text">Celular</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.celularRepresentante}}
         </div>
       </div>
       <br />


       <div class="row">        
         <div class="col-md-2 color_colum text">Teléfono Emergencia</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.telefonoEmergenciaRepresentante}}
         </div>
         
         <div class="col-md-2 color_colum text">Profesión</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.profesion?.descripcionProfesion}}
         </div>
       </div>
       <br />


       <div class="row">
         
         <div class="col-md-2 color_colum text">Tipo Trabajo</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.trabajo?.tipoTrabajo?.descripcionTipoTrabajo}}
         </div>
         <div class="col-md-2 color_colum text">Parentesco</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.parentescoRepresentante}}
         </div>
       </div>
       <br />



       <div class="row">
         
         <div class="col-md-2 color_colum text">Dirección Domicilio</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.direccionDomicilioRepresentan}}
         </div>
         <div class="col-md-2 color_colum text">Estado Civil</div>
         <div class="col-md-4 color_info">
            {{pacienteSelect?.representante?.estadoCivil?.descripcionEstadoCivil}}
         </div>
       </div>
       <br />


       <div class="row">
         <div class="col-md-2 color_colum text">Tipo Discapacidad</div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.representante?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad!='NINGUNO'">
            {{pacienteSelect?.representante?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad}}
         </div>
         <div class="col-md-4 color_info " *ngIf="pacienteSelect?.representante?.discapacidad?.tipoDiscapacidad?.descripcionTipoDiscapacidad=='NINGUNO'">
          NINGUNO
         </div>
         <div class="col-md-2 color_colum text">Porcentaje Discapacidad</div>
         <div class="col-md-4 color_info "  *ngIf="pacienteSelect?.representante?.discapacidad?.porcetajeDiscapacidad!=0">
            {{pacienteSelect?.representante?.discapacidad?.porcetajeDiscapacidad}} %
         </div>
         <div class="col-md-4 color_info "  *ngIf="pacienteSelect?.representante?.discapacidad?.porcetajeDiscapacidad==0">
           0%
         </div>
       </div>
       <br />


       <div class="row">
         <div class="col-md-2 color_colum text">Descripción Discapacidad</div>
         <div class="col-md-4 color_info">
         
            {{pacienteSelect?.representante?.discapacidad?.descripcionDiscapacidad}}
         </div>
        
       </div>
      </ng-template>


    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="button">
    Salir
  </button>
</mat-dialog-actions>
