<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="d-flex align-items-center">
                    <li *ngIf="authService.isAuthenticated()" class="dropdown">
                        <strong> <a class="text-dark"> BIENVENIDO/A:</a></strong> &nbsp;
                        <strong> <a class="text-dark">  {{authService.usuario.username}}</a> </strong>
                    </li>
                </div>
                <div class="d-flex align-items-center">
                    <li *ngIf="authService.isAuthenticated()" class="dropdown">
                        <span id="boot-icon" class="bi bi-person-fill envelope"></span>
                    </li>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="d-flex align-items-center">
                    <a class="logo"><img src=" /assets/imagenes/logo.png"></a>
                </div>
            </div>

        </div>
    </div>
</div>
<header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light  nav-menu">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Administrar
                      </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="[ '/pacientes']">Paciente</a>
                        <a class="dropdown-item" [routerLink]="[ '/profesionales']">Profesional</a>
                        <a class="dropdown-item" [routerLink]="[ '/especialidades']">Especialidad</a>
                        <a class="dropdown-item" [routerLink]="[ '/unidadEducativa']">Unidad Educativa</a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/unidadEducativa']">Comprar</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/unidadEducativa']">Agendamiento</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/unidadEducativa']">Subir Información</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/unidadEducativa']">Pagos</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Clinica</a>
                        <a class="dropdown-item" href="#">Pagos</a>
                        <a class="dropdown-item" href="#">Citas</a>
                        <a class="dropdown-item" href="#">Paciente</a>
                    </div>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link">Nosotros</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-right-salir">
                <li *ngIf="authService.isAuthenticated()" class="nav-item">
                    <a class="nav-link" (click)=" logout() ">Salir</a>
                </li>

            </ul>

        </div>
    </nav>
</header>
<br>
<br>
<br>