<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <strong> <a class="text-dark"> BIENVENIDO/A:</a></strong> &nbsp; &nbsp;
            <strong> <a class="text-white"> local</a> </strong>
        </div>
        <div class="d-flex align-items-center">
            <a class="envelope"><i class="bi bi-person-fill"></i></a><strong id="colorh2"> &nbsp;psicodidact@hotmail.com</strong><br>
        </div>
    </div>
</div>



<!-- Navegación -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <a class="logo mr-auto "><img src=" " alt=" "></a>
        <nav class="nav-menu d-none d-lg-block ">
            <ul>
                <li class="dropdown"><a href="">Inicio</a></li>
                <li class="dropdown"><a class="text-dark" href=" ">Genero</a></li>
                <li class="dropdown"><a class="text-dark" href=" ">Especialidad</a></li>
                <li class="dropdown"><a class="text-dark" href=" ">Medico</a></li>
                <li><a class="text-dark" href=" ">Paciente</a></li>
                <li><a class="text-dark" href=" ">Evaluación</a></li>
                <li><a class="text-dark" href=" ">Gestión Usuarios</a></li>


            </ul>

        </nav>
    </div>
</header>