<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <a class="logo"><img src=" /assets/imagenes/logo.png"></a>
        </div>

        <div class="d-flex align-items-center">
            <span id="boot-icon" class="bi bi-person-fill envelope"></span>
        </div>
        <div class="d-flex align-items-center">
            <li class="dropdown"><a href="">Salir</a></li>
        </div>
    </div>
</div>



<!-- Navegación -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center ">

        <nav class="nav-menu d-none d-lg-block ">
            <ul>
                <li class="dropdown"><a href="">Inicio</a></li>
                <li class="dropdown"><a href=" ">Administrar</a></li>
                <li class="dropdown"><a href=" ">Agendamiento</a></li>
                <li class="dropdown"><a href=" ">Subir Información</a></li>
                <li class="dropdown"><a href=" ">Pagos</a></li>
                <li class="dropdown"><a href=" ">Reportes</a></li>
                <li class="dropdown"><a href=" ">Nosotros</a></li>

            </ul>

        </nav>
    </div>
</header>